<div class="framed page app padding-none" script="on htmx:load if #news is not null then add [@aria-selected=true] to #news">

	<div hx-get="/@{{.ParentID}}/header" hx-swap="outerHTML" hx-target="this" hx-trigger="load" hx-push-url="false"></div>

	<article class="content padding-lg">

		<div class="margin-bottom text-lg">
			<a href="/@{{.AttributedTo.UserID.Hex}}">{{.AttributedTo.Name}}</a>
		</div>

		<div>
			<h1>{{.Label}}</h1>
			<div>
				{{.PublishDate | shortDate}} <span role="presentation">&middot</span>
				<span hx-get="{{.StreamID}}/share?content={{.Label}}%0A{{.Summary}}%0A{{.Permalink}}" class="link" role="button">Share <span role="presentation" class="margin-left-xs">{{icon "share"}}</span></span>
			</div>
			<div class="margin-vertical">{{.ContentHTML}}</div>
		</div>

		{{- if .UserCan "edit" -}}
			<button hx-get="/{{.StreamID}}/edit" class="pos-absolute-top-right text-sm">Edit</button>
		{{- end -}}

	</article>

</div>