<div class="framed page app padding-none" script="on htmx:load if #news is not null then add [@aria-selected=true] to #news">

	<div hx-get="/@{{.ParentID}}/header" hx-swap="outerHTML" hx-target="this" hx-trigger="load" hx-push-url="false"></div>

	<article class="content padding-lg">

		<div class="margin-bottom text-lg">
			<a href="/@{{.ParentID}}">{{.AttributedTo.Name}}</a>
		</div>

		<div>
			<h1>{{.Label}}</h1>
			<div>
				{{.PublishDate | shortDate}}
				<span class="text-sm margin-left">
					<button hx-get="/{{.StreamID}}/intent?intent=create&content={{.Label}} {{.Permalink}}"><span aria-hidden="true" class="margin-left-xs">{{icon "share"}}</span> Share</button>
					<button hx-get="/{{.StreamID}}/intent?intent=like&object={{.Permalink}}"><span aria-hidden="true" class="margin-left-xs">{{icon "thumbs-up"}}</span> Like</button>
					<button hx-get="/{{.StreamID}}/intent?intent=dislike&object={{.Permalink}}"><span aria-hidden="true" class="margin-left-xs">{{icon "thumbs-down"}}</span> Dislike</button>
				</span>
			</div>
			<div class="margin-vertical">{{.ContentHTML}}</div>
		</div>

		{{- if .UserCan "edit" -}}
			<button hx-get="/{{.StreamID}}/edit" class="pos-absolute-top-right text-sm">Edit</button>
		{{- end -}}

	</article>

</div>