<div class="framed page padding-none" script="on htmx:load if #news is not null then add [@aria-selected=true] to #news">

	<!-- Open Graph: https://ogp.me -->
	<meta property="og:type" content="article">
	<meta property="og:title" content="{{.Label}}">
	<meta property="og:url" content="{{.Permalink}}">
	<meta property="og:image" content="{{.IconURL}}">

	<meta property="og:article:published_time" content="{{.PublishDate | isoDate}}">
	<meta property="og:article:modified_time" content="{{.UpdateDate | isoDate }}">
	<meta property="og:article:author" content="{{.AttributedTo.ProfileURL}}">

	{{- if not .IsPublished -}}
		<div hx-get="/{{.StreamID}}/publish" class="clickable alert-red margin-none" role="button">
			{{icon "alert-fill"}} 
			This news HAS NOT BEEN published yet and won't be seen by others.
			<span class="text-underline">Click here to publish it</span>
		</div>
	{{- end -}}

	<div hx-get="/@{{.ParentID}}/header" hx-swap="outerHTML" hx-target="this" hx-trigger="load" hx-push-url="false"></div>

	{{- $bannerURL := .Data "bannerUrl" -}}
	{{- if ne "" $bannerURL -}}
		<img src="{{$bannerURL}}" class="width-100% block" aria-hidden="true">
	{{- end -}}

	<article class="content padding-lg pos-relative">

		<div>
			<h1 class="extra-bold margin-bottom-none">{{.Label}}</h1>
			<div class="margin-bottom-xl text-lg">
				<a href="/@{{.ParentID}}">{{.AttributedTo.Name}}</a>
				&nbsp;
				<span class="text-gray">{{.PublishDate | shortDate}}</span>
			</div>
	
			<div class="text-sm">
				<button hx-get="/{{.StreamID}}/intent?intent=create&content={{.Label | queryEscape}} {{.Permalink}}"><span aria-hidden="true" class="margin-left-xs">{{icon "share"}}</span> Share</button>
				<button hx-get="/{{.StreamID}}/intent?intent=like&object={{.Permalink}}"><span aria-hidden="true" class="margin-left-xs">{{icon "thumbs-up"}}</span> Like</button>
			</div>
			<div class="margin-vertical">{{.ContentHTML}}</div>
		</div>

		{{- if .UserCan "edit" -}}
			<div class="pos-absolute-top-right text-sm">
				<button hx-get="/{{.StreamID}}/edit">Edit News</button>
				{{- if .IsPublished -}}
					<button hx-get="/{{.StreamID}}/unpublish">&check; Published</button>

					{{- if .IsPublic -}}
						<button hx-get="/{{.StreamID}}/edit-sharing">Sharing: Public</button>
					{{- else -}}
						<button hx-get="/{{.StreamID}}/edit-sharing">Sharing: Private</button>
					{{- end -}}
				{{- else -}}
					<button hx-get="/{{.StreamID}}/publish" class="primary">Publish</button>
				{{- end -}}
			</div>

			<div hx-ext="sse" sse-connect="/{{.StreamID}}/sse">
				<div
					hx-get="/{{.StreamID}}" 
					hx-trigger="sse:{{.StreamID}}, refreshPage from:window" 
					hx-target="#main" 
					hx-swap="innerHTML" 
					hx-push-url="false">
				</div>
			</div>
		{{- end -}}

	</article>

</div>