{{- $query := .QueryParam "q" -}}
{{- $escapedQuery := queryEscape $query -}}

<div class="flex-row md:flex-column">
	<a href="/artists?q={{$query}}" hx-get="/artists?q={{$escapedQuery}}" class="search-navigation turboclick">Artists</a>
	<a href="/albums?q={{$query}}" hx-get="/albums?q={{$escapedQuery}}" class="search-navigation turboclick">Albums</a>
	<a href="/tracks" hx-get="/tracks" class="search-navigation turboclick selected">Tracks</a>
	<a href="/events?q={{$query}}" hx-get="/events?q={{$escapedQuery}}" class="search-navigation turboclick">Calendar</a>
	<a href="/news/?q={{$query}}" hx-get="/news/?q={{$escapedQuery}}" class="search-navigation turboclick">News</a>
</div>
