{{- $token := .Token -}}
{{- $query := .QueryParam "q" -}}

{{- if ne "" $query -}}

	{{- $tags := parseTags $query -}}

	<div class="flex-center margin-bottom-lg">
		<div class="search-container">

			<a hx-get="/{{.Token}}" hx-target="main" class="turboclick padding-right-sm" aria-label="Return to Tag Menu"><i class="bi bi-grid-3x3-gap-fill"></i> All</a>

			{{- if $tags.NotEmpty -}}

				{{- $tag := .SearchTag ($tags.Last) -}}

				{{- if $tag.IsCustomBanner -}}

					{{- $background00 :=  $tag.Colors.At 0 | parseColor -}}
					{{- $background01 :=  $tag.Colors.At 1 | parseColor -}}
					{{- $backgroundImage := concat "linear-gradient(120deg, " $background00.RGBA ", " $background01.RGBA ")" -}} 

					{{- $textColor := $background00.TextExt -}}
					{{- $menuColor := $textColor.Text -}}

					<style>
						body {
							background-image: {{$backgroundImage | css}};
							color: {{$textColor}};
						}

						h1 {
							color: {{$textColor}};
						}
				
						nav {
							background-color: {{$menuColor}};
							border-bottom:none;
						}

						nav a {
							background-color: {{$menuColor}};
							color: {{$textColor}};
						}

						#search, #search a {
							color: {{$textColor}};
						}

						#search .clearTag {
							border: solid 1px {{$textColor}};
							color: {{$textColor}};
						}

					</style>
				{{- end -}}

				{{- if $tag.RelatedTags.NotEmpty -}}
					<div class="inline-block margin-right-sm"></div>
					{{- range $index, $relatedTag := $tag.RelatedTags -}}
						<div class="clearTag text-sm turboclick" role="button" hx-get="/{{$token}}?q={{$query | queryEscape }}+%23{{$relatedTag}}">{{$relatedTag}}</div>
					{{- end -}}
				{{- end -}}

			{{- end -}}

		</div>

	</div>

{{- end -}}