{{- $query := .QueryParam "q" | trim -}}
{{- $placeholder := .Data "searchText" -}}

<script src="/.templates/bandwagon-search/javascript"></script>
<script type="text/hyperscript" src="/.templates/bandwagon-search/hyperscript"></script>

<div class="search-container pos-relative">
	<form id="search-form" hx-get="/{{.Token}}" hx-indicator="#search-widget">
		<div id="search-widget" script="install SearchWidget" class="input">
			<input type="search" id="search-input" autocomplete="off" name="q" value="{{$query}}" placeholder="{{$placeholder}}"/>
			<button class="primary align-center htmx-request-hide" style="width:3em;" aria-label="Search" id="search-submit">{{icon "search"}}</button>
			<button class="primary align-center htmx-request-show" style="width:3em;"><span class="spin">{{icon "loading"}}</span></button>
		</div>
	</form>
	<form 
		id="search-suggestions-form"
		hx-get="/{{.Token}}/view-suggestions" 
		hx-trigger="search throttle:100ms queue:last"
		hx-target="#search-suggestions" 
		hx-swap="innerHTML transition:true" 
		hx-push-url="false">
		<input type="hidden" id="search-suggestion-query" name="q"/>
		<div id="search-suggestions" class="pop-up list-box" script="install Popup install Listbox" style="visibility:hidden;"></div>
	</form>

	{{- template "search-related" . -}}
</div>
