{{- $queryString := .QueryParam "q" -}}

<script src="/.templates/bandwagon-search/javascript"></script>
<script type="text/hyperscript" src="/.templates/bandwagon-search/hyperscript"></script>

<div class="page">

	<form id="search-form" hx-get="/{{.Token}}/view-results" hx-indicator="#search-widget">
		<input type="hidden" id="search-query" name="q">
	</form>

	<div class="pos-relative margin-bottom">
		<div id="search-widget" script="install SearchWidget(value:'{{$queryString | trim}}', hint:'{{.Data `searchText`}}')" class="input">
			<input 
				type="text"
				id="search-input"
				class="margin-left-sm"
			/>
			<button class="primary htmx-request-hide" style="width:6em; text-align:center;" id="search-submit">Search</button>
			<button class="primary htmx-request-show" style="width:6em; text-align:center;"><span class="spin">{{icon "loading"}}</span></button>
		</div>
		<form 
			id="search-suggestions-form"
			hx-get="/{{.Token}}/view-suggestions" 
			hx-trigger="search"
			hx-target="#search-suggestions" 
			hx-swap="innerHTML" 
			hx-push-url="false">
			<input type="hidden" id="search-suggestion-query" name="q"/>
			<div id="search-suggestions"></div>
		</form>
	</div>

	<div class="margin-bottom">
		{{.Data "content" | markdown }}
	</div>
	
	<div id="search-results" class="margin-top-lg">
		{{.View "view-results"}}
	</div>

	{{- if .UserCan "edit" -}}
	<br>
	<br>
	<div class="pos-absolute-bottom-right text-sm">
			Admins:
			<button hx-get="/{{.Token}}/edit">Edit</button>
			<button hx-get="/{{.Token}}/sharing">Sharing</button>
		</div>
	{{- end -}}

</div>

<style>
	#search-widget {
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
		margin:0px;
		padding:0px;
	}

	#search-widget:has(input:focus) {
		outline:solid;
		outline-color: -webkit-focus-ring-color;
	}

	#search-widget > input {
		border:none;
		outline:none;
		flex-grow:1;
	}

	#search-widget > button {
		font-size:calc(var(--rhythm) * 1.75);
		margin:4px;
	}

	#search-suggestions {
		position:absolute;
		visibility:hidden;
		margin-top:3px;
		z-index:10;
		width:100%;
		border:solid 2px var(--gray40);
		border-top:none;
		background-color:var(--input-background);
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
		border-bottom-left-radius: 8px;
		border-bottom-right-radius:8px;
	}

	#search-suggestions > div {
		cursor:pointer;
		padding: 4px 8px;
	}

	#search-suggestions > div.selected {
		background-color:var(--gray20);
	}
</style>