{{- $albums := (.Outbox.Where "templateId" "arcadium-album").ByRankAlt.Slice -}}
{{- $userCanSortChildren := .UserCan "sort-children" -}}

<!-- Page content -->
<div class="framed page app h-card padding-none" hx-get="/@{{.UserID}}/albums" hx-trigger="refreshPage from:window" hx-target="this" hx-swap="outerHTML">

	{{- template "header" . -}}

	<div class="padding pos-relative">

		{{- if .UserCan "add-album" -}}
			<div class="margin-bottom align-right">
				<button hx-get="/@{{.UserID}}/add-album" class="text-sm">{{icon "add"}} Add an Album</button>
			</div>
		{{- end -}}

		<form hx-post="/@{{.UserID}}/sort-children" hx-trigger="end" hx-swap="none" hx-push-url="false">

			<div class="sortable margin-vertical columns-3">
				{{- range $albums -}}
					<div class="card hover-trigger" script="install blockselect()">
						<img src="{{.IconURL}}" class="square width-100-percent block" style="object-fit:cover">
						<a href="/{{.StreamID}}" class="block">
							<div class="block padding text-uppercase">
								<div class="bold">{{.Label}}</div>
								<div>{{.Data.year}}</div>
							</div>
						</a>

						{{- if $userCanSortChildren -}}
							<button class="hover-show pos-absolute-top-left text-xs drag-handle">{{icon "drag-handle"}}</button>
							<button hx-get="/{{.StreamID}}/edit" class="hover-show button pos-absolute-top-right text-xs">Edit</button>
							<input type="hidden" name="keys" value="{{.StreamID}}">
						{{- end -}}
					</div>

				{{- end -}}
			</div>
		</form>

		{{- if $userCanSortChildren -}}

			<script src="/.themes/global/resources/sortable-1.15.0/Sortable.min.js"></script>

			<script>
				var sortables = document.querySelectorAll(".sortable");
				for (var node of sortables) {
					new Sortable(node, {
						handle: ".drag-handle",
						animation: 150,
						whisperClass: 'draggable-whisper'
					});
				}
			</script>

			<style>
				.draggable {
					padding:10px 20px;
					border: solid 1px var(--gray10);
					background-color: var(--gray00);
					color: var(--gray80);
					margin-bottom: -1px;
					cursor: grab;
				}

				.drag-handle {
					cursor:grab;
				}

				.draggable-whisper {
					background-color: var(--gray50);
					color:var(--gray50);
					cursor: grabbing;
				}
			</style>

		{{- end -}}

	</div>

</div>