{{- $artist := .ParentOutbox "view" -}}
{{- $albumColors := .Data "color" -}}

{{- $bodyColor := first $albumColors.body ($artist.Data "color-body") -}}
{{- $pageColor := first $albumColors.page ($artist.Data "color-page") -}}
{{- $buttonColor := first $albumColors.button ($artist.Data "color-button") -}}

body {

{{ if ne nil $bodyColor -}}
	--body-background: {{$bodyColor}};
{{- end }}

{{ if ne nil $pageColor -}}
	{{- $pageColorParsed := parseColor $pageColor -}}
	--page-background: {{$pageColorParsed}};
	--page-border: {{$pageColorParsed.Darken 10}};
	--heading-color: {{$pageColorParsed.Text}};
	--text-color: {{$pageColorParsed.TextExt}};

	{{if $pageColorParsed.IsLight }}
		--white:  rgb(255, 255, 255);
		--gray00: rgb(255, 255, 255);
		--gray01: rgba(0, 0, 0, 0.01);
		--gray02: rgba(0, 0, 0, 0.02);
		--gray03: rgba(0, 0, 0, 0.03);
		--gray04: rgba(0, 0, 0, 0.04);
		--gray05: rgba(0, 0, 0, 0.05);
		--gray10: rgba(0, 0, 0, 0.10);
		--gray15: rgba(0, 0, 0, 0.15);
		--gray20: rgba(0, 0, 0, 0.20);
		--gray30: rgba(0, 0, 0, 0.30);
		--gray40: rgba(0, 0, 0, 0.40);
		--gray50: rgba(0, 0, 0, 0.50);
		--gray60: rgba(0, 0, 0, 0.60);
		--gray70: rgba(0, 0, 0, 0.70);
		--gray80: rgba(0, 0, 0, 0.80);
		--gray90: rgba(0, 0, 0, 0.90);
		--gray100: rgb(0, 0, 0);
		--black:   rgb(0, 0, 0);
	{{- else }}
		--white:  rgb(0, 0, 0) ;
		--gray00: rgb(0, 0, 0) ;
		--gray01: rgba(255, 255, 255, 0.01);
		--gray02: rgba(255, 255, 255, 0.02);
		--gray03: rgba(255, 255, 255, 0.03);
		--gray04: rgba(255, 255, 255, 0.04);
		--gray05: rgba(255, 255, 255, 0.05);
		--gray10: rgba(255, 255, 255, 0.10);
		--gray15: rgba(255, 255, 255, 0.15);
		--gray20: rgba(255, 255, 255, 0.20);
		--gray30: rgba(255, 255, 255, 0.30);
		--gray40: rgba(255, 255, 255, 0.40);
		--gray50: rgba(255, 255, 255, 0.50);
		--gray60: rgba(255, 255, 255, 0.60);
		--gray70: rgba(255, 255, 255, 0.70);
		--gray80: rgba(255, 255, 255, 0.80);
		--gray90: rgba(255, 255, 255, 0.90);
		--gray100: rgb(255, 255, 255);
		--black:   rgb(255, 255, 255);
	{{- end -}}

{{- end }}

{{ if ne nil $buttonColor -}}
	{{- $buttonColorParsed := parseColor $buttonColor -}}
	{{- $buttonText := $buttonColorParsed.Text }}
	{{- $buttonColorHover := ($buttonColorParsed.Lighten 10) -}}
	{{- $buttonTextHover := $buttonColorHover.Text }}

	--button-primary-background: {{$buttonColor}};
	--button-primary-background-hover: {{$buttonColorHover}};
	--button-primary-color: {{$buttonText}};
	--button-primary-color-hover: {{$buttonTextHover}};
	--link-color: {{$buttonColor}};
	--link-color-hover: {{$buttonColorHover}};
{{- end }}

}

#media-controls:not(.PLAYING) > .playing-show,
#media-controls.PLAYING > .playing-hide,
.track:not(.PLAYING) .playing-show,
.track.PLAYING .playing-hide,
.track:not(.PLAYING) .playing-hide.hover-hide
.track:not(.PLAYING):hover .playing-hide.hover-show
{
	display: none;
}

#media-controls.PLAYING > .playing-show,
#media-controls:not(.PLAYING) > .playing-hide,
.track.PLAYING playing-show,
.track:not(.PLAYING) .playing-hide,
.track:not(.PLAYING) .playing-hide.hover-hide
.track:not(.PLAYING):hover .playing-hide.hover-show,
 {
	display: initial;
}

.track.PLAYING {
	background-color: var(--gray10);
}

{{$artist.Data "stylesheet"}}