{{- $streamID := .StreamID -}}
{{- $tags := .Tags -}}
{{- $songs := .Children.Top120.ByRank.Slice -}}
{{- $canEdit := .UserCan "edit" -}}
{{- $isPlayable := false -}}
{{- $links := .Data "links" -}}
{{- range $index, $song := $songs -}}
	{{- if ne nil $song.Data.attachmentId -}}
		{{- $isPlayable = true -}} 
	{{- end -}}
{{- end -}}
{{- $checkoutLabel := first (.Data "checkout label") "Buy Now" -}}

<div id="album-{{.StreamID}}" class="page padding-none">

	<link rel="stylesheet" type="text/css" href="/{{.StreamID}}/stylesheet?v={{.ETag}}"/>

	<!-- oEmbed: https://oembed.com -->
	<link rel="alternate" type="application/json+oembed" href="{{.OEmbedJSON}}">
	<link rel="alternate" type="text/xml+oembed" href="{{.OEmbedXML}}">

	<!-- Open Graph: https://ogp.me/ -->
	<!-- https://developers.facebook.com/docs/opengraph/music/ -->
	<meta property="og:type" content="music.album">
	<meta property="og:title" content="{{.Label}}">
	<meta property="og:url" content="{{.Permalink}}">
	<meta property="og:image" content="{{.IconURL}}">
	<meta property="og:description" content="{{.Summary}}">
	<meta property="og:site_name" content="{{.DomainLabel}}">
	<meta property="music:release_date" content="{{.Data `year`}}">
	<meta property="music:musician" content="{{.AttributedTo.ProfileURL}}">

	{{- $year := .Data "year" -}}
		{{- range $index, $song := $songs -}}
		<meta property="music:song" content="{{$song.URL}}">
		<meta property="music:song:track" content="{{$index}}">
	{{- end -}}

	{{- if not .IsPublished -}}
		{{- if $songs.NotEmpty -}}
			<div class="clickable alert-green margin-none" hx-get="/{{.StreamID}}/publish" role="button" style="border-radius:0px;">
				{{icon "check-circle"}} 

				This album IS READY TO PUBLISH on the social web.
				<span class="text-underline">Click here to publish it now</span>
			</div>
		{{- end -}}
	{{- end -}}

	<div class="md:flex-row pos-relative padding">

		{{- if $canEdit -}}
			<div class="pos-absolute-top-right text-sm">

				<button hx-get="/{{.StreamID}}/edit">Edit Album</button>
				<button hx-get="/{{.StreamID}}/edit-checkout">
					{{- if .StreamHasPrivileges -}}
						{{icon "check"}} Sales Enabled
					{{- else -}}
						Sell Online
					{{- end -}}
				</button>
				{{- if .IsPublished -}}
					<button hx-get="/{{.StreamID}}/unpublish">{{icon "check"}} Published</button>
				{{- else if $songs.NotEmpty -}}
					<button hx-get="/{{.StreamID}}/publish" class="primary">Publish</button>
				{{- end -}}
					
			</div>
		{{- end -}}


		<div hx-get="/{{.StreamID}}/edit" role="button" class="md:width-50% lg:width-40% md:margin-right-lg flex-grow-0 flex-shrink-0 margin-bottom-lg rounded pos-relative">
			{{- if ne "" .IconURL -}}
				<img id="album-icon" src="{{.IconURL}}" class="width-100% rounded square" aria-hidden="true" style="view-transition-name: icon-{{.StreamID}}; object-fit:cover;">
			{{- else if $canEdit -}}
				<div class="rounded width-100% square text-center flex-column flex-justify-center flex-align-center text-gray" style="border:solid 1px var(--black)" script="install blockselect()">
					Click here to add album art
				</div>
			{{- end -}}
		</div>

		<div class="flex-grow margin-bottom-lg">
			<h1 id="album-name" class="margin-vertical-none">
				<span class="hide-visual">Album Name:</span>
				{{.Label}}
			</h1>
			<div class="text-lg margin-top-none">
				<a href="/@{{.ParentID}}" hx-boost="true" hx-swap="transition:true" id="album-attributedTo" aria-label="Artist: {{.AttributedTo.Name}}">
					{{.AttributedTo.Name}}
				</a>
			</div>

			{{- if .IsPublished -}}

				<div class="margin-vertical"></div>
	
				<div id="media-controls" class="margin-vertical-lg">
					{{- if $isPlayable -}}
						<button hx-on:click="PlayFirst()" class="primary playing-hide">{{icon "play-fill"}} Play Album</button>
						<button hx-on:click="PlayPrevious()" class="primary playing-show margin-right-none" aria-label="Skip Backward">{{icon "skip-backward-fill"}}</button>
						<button hx-on:click="Pause()" class="primary playing-show margin-right-none" aria-label="Pause Playback">{{icon "pause-fill"}}</button>
						<button hx-on:click="PlayNext(true)" class="primary playing-show margin-right" aria-label="Skip Forward">{{icon "skip-forward-fill"}}</button>
					{{- else if and $songs.NotEmpty $canEdit -}}
						<button disabled class="primary">{{icon "play-fill"}} Play Album</button>
					{{- end -}}

					{{- if .StreamHasPrivileges -}}
						{{- if .UserHasRole "paid" -}}
							<button hx-get="/{{.StreamID}}/premium-downloads" class="outline">
								{{icon "download"}}
								Download Album
							</button>
						{{- else -}}
							<button hx-get="/{{$streamID}}/checkout" class="outline">
								<span class="htmx-request-hide">{{icon "star"}}</span>
								<span class="htmx-request-show"><span class="spin">{{icon "loading"}}</span></span>
								{{$checkoutLabel}}
							</button>
						{{- end -}}
					{{- end -}}

				</div>

				<div class="text-sm">
					<button hx-get="/{{.StreamID}}/intent?intent=create&content={{.Label | queryEscape}} {{.Permalink}}"><span aria-hidden="true" class="margin-left-xs">{{icon "share"}}</span> Share</button>
					<button hx-get="/{{.StreamID}}/intent?intent=like&object={{.Permalink}}"><span aria-hidden="true" class="margin-left-xs">{{icon "thumbs-up"}}</span> Like</button>
					<button hx-get="/{{.StreamID}}/intent" aria-label="Manage Accounts">{{icon "more-horizontal"}}</button>
				</div>
			{{- end -}}

			<!-- Song List -->
			{{- if $songs.NotEmpty -}}
			
				<form hx-post="/{{.StreamID}}/sort-tracks" hx-trigger="end" hx-push-url="false">
					<div id="album-tracks" class="table margin-top-lg">
						{{- range $index, $song := $songs -}}
							{{- $isplayable := ne nil $song.Data.attachmentId -}}
							<div id="track-{{$index}}" class="clickable flex-row">
								<div class="flex-grow flex-row track" role="button" aria-label="Play Track: {{$song.Label}}"
									{{ if $isplayable -}}
										hx-on:click="Toggle({{$index}})"
									{{- else -}}
										hx-get="/{{$song.StreamID}}"
									{{- end -}}
								>
									<input type="hidden" name="keys" value="{{.StreamID}}">

									{{- if and $canEdit (gt $songs.Length 1) -}}
										<div class="">
											<span class="drag-handle">{{icon "drag-handle"}}</span>
										</div>
									{{- end -}}

									<div class="flex-shrink-0 nowrap" style="width:1.5em;" aria-hidden="true">
										{{- if $isplayable -}}
											{{- if $song.IsFeatured -}}
												<span class="playing-hide hover-hide">{{icon "star-fill"}}</span>
											{{- else -}}
												<span class="playing-hide hover-hide">{{add $index 1}}.</span>
											{{- end -}}
											<span class="playing-hide hover-show">{{icon "play-fill"}}</span>
											<span class="playing-show">{{icon "volume-up-fill"}}</span>
										{{- else -}}
											{{- if $song.IsFeatured -}}
												<span>{{icon "star-fill"}}</span>
											{{- else -}}
												<span class="hide sm:show">{{add $index 1}}.</span>
											{{- end -}}
										{{- end -}}
									</div>
									<div class="flex-grow width-100%">
										{{$song.Label}}
										{{ if eq true $song.Data.explicit }}<span class="text-gray text-xs margin-left-sm">{{icon "explicit-fill"}}</span>{{ end }}
									</div>
								</div>
								<div class="text-xs align-right flex-shrink-0 nowrap">
									<a href="/{{$song.StreamID}}" hx-boost="true" hx-swap="transition:true" hx-push-url="true" role="button" class="button">Track Info</a>
									{{- if $canEdit -}}
										<button hx-get="/{{$song.StreamID}}/edit" class="margin-left-sm">Edit</button>
									{{- end -}}
								</div>
							</div>

						{{- end -}}

						{{- if $canEdit -}}
							<div hx-get="/{{.StreamID}}/add-song" role="button" class="link flex-row">
								<div></div>
								<div aria-hidden="true">
									{{icon "add"}}
								</div>
								<div colspan="5">
									Add Another Song
								</div>
							</div>
						{{- end -}}

					</div>
				</form>

			{{- else if $canEdit -}}

				<div class="table margin-vertical-lg">
					<div hx-get="/{{.StreamID}}/add-song" role="button" class="clickable flex-row">
						<div class="margin-horizontal-xs flex-align-self-center link" style="font-size:50px" aria-hidden="true">{{icon "music"}}</div>
						<div class="flex-grow">
							<div class="text-lg bold link nowrap">
								Add the first song to this album
							</div>
							<div class="text-sm text-gray">You'll need to add at least one song to this album before you can publish it.</div>
						</div>
					</div>
				</div>
			{{- end -}}
					
		</div>

	</div>

	<div class="md:flex-row padding" style="background-color:rgba(0,0,0,0.08);">

		<div class="md:width-50% lg:width-40% md:margin-right-lg flex-grow-0 flex-shrink-0 margin-bottom-lg">

			{{- if ne "" .Summary -}}
				<div id="album-notes" class="margin-bottom-lg text-gray">
					<h3>Album Notes</h3>
					{{.Summary | markdown}}
				</div>
			{{- end -}}

		</div>

		<div class="md:width-30% flex-grow-0 flex-shrink-0 margin-bottom-lg">

			{{- if $tags.NotEmpty -}}
				<h3>Hashtags</h3>
				<div id="album-tags" class="text-sm margin-bottom">
					{{- range $index, $tag := $tags -}}
						{{- if eq "Hashtag" $tag.Type}}
							<a href="/albums?q=%23{{$tag.Name}}" hx-boost="true" class="tag margin-bottom-sm" aria-label="Hashtag: {{$tag.Name}}">#{{$tag.Name}}</a>
						{{- end -}}
					{{- end -}}
				</div>
			{{- end -}}

			{{- if $links.NotEmpty -}}
				<div id="album-links" class="margin-bottom-lg">
					<h3>Also On These Sites:</h3>
					{{- range $key, $value := $links -}}
						
						{{- if ne "" $value -}}
							{{- $icon := "music-note-beamed" -}}
							{{- $label := $value -}}

							{{- if eq "AMAZON" $key -}}
								{{- $label = "Amazon Music" -}}
								{{- $icon = "amazon" -}}

							{{- else if eq "APPLE" $key -}}
								{{- $icon = "apple" -}}
								{{- $label = "Apple Music" -}}

							{{- else if eq "BANDCAMP" $key -}}
								{{- $label = "Bandcamp" -}}

							{{- else if eq "GOOGLE" $key -}}
								{{- $label = "Google Play" -}}
								{{- $icon = "google" -}}

							{{- else if eq "IHEARTRADIO" $key -}}
								{{- $label = "iHeartRadio" -}}

							{{- else if eq "PANDORA" $key -}}
								{{- $label = "Pandora" -}}

							{{- else if eq "SOUNDCLOUD" $key -}}
								{{- $label = "SoundCloud" -}}
								{{- $icon = "cloud" -}}

							{{- else if eq "SPOTIFY" $key -}}
								{{- $label = "Spotify" -}}
								{{- $icon = "spotify" -}}

							{{- else if eq "TIDAL" $key -}}
								{{- $label = "Tidal" -}}

							{{- else if eq "YOUTUBE" $key -}}
								{{- $label = "YouTube Music" -}}
								{{- $icon = "youtube" -}}

							{{- else -}}
								{{- $label = domainOnly $value -}}

							{{- end -}}

							<a href="{{$value}}" class="block ellipsis" target="_blank">
								<i class="bi bi-{{$icon}}"></i> {{ $label }}
							</a>
						{{- end -}}

					{{- end -}}
					</div>
			{{- end -}}

			{{- $uploads := .AttachmentsByCategory "other" -}}
			{{- if or $uploads.NotEmpty $canEdit -}}
				<div id="album-attachments" class="margin-bottom-lg">
					<div class="flex-row">
						<h3 class="flex-grow margin-none">Other Files</h3>
					</div>

					{{- if $canEdit -}}
						<div class="margin-bottom-sm">
							<div class="text-gray">Attachments like <b class="nowrap">liner notes</b> or <b class="nowrap">album art</b> that anyone can access.</div>
							<span hx-get="/{{$streamID}}/upload" class="link" role="button" aria-label="Attach a File">{{icon "upload"}} Attach a File</span>
						</div>
					{{- end -}}

					{{- if $uploads.NotEmpty -}}
						<div class="table margin-top-lg">
							{{- range $index, $upload := $uploads -}}
								<div class="flex-row padding-vertical-sm">
									<div class="flex-grow">
										<a href="/{{$streamID}}/attachments/{{.AttachmentID.Hex}}" target="_blank" class="ellipsis">{{.Label}}</a><br>
										<span class="text-sm text-gray">{{.Description}}</span>
									</div>
									{{- if $canEdit -}}
										<div>
											<button hx-get="/{{$streamID}}/edit-upload?attachmentId={{.AttachmentID.Hex}}" title="Edit Attachment" aria-label="Edit Attachment" class="text-xs margin-left-sm">{{icon "more-horizontal"}}</button>
										</div>
									{{- end -}}
								</div>
							{{- end -}}
						</div>
					{{- end -}}
				</div>
			{{- end -}}

			<div id="album-license" class="margin-bottom-lg">
				{{- $license := .DataString "license"}}
				{{- if eq "COPYRIGHT" $license -}}
					<h3 class="margin-none">License</h3>
					<div>
						&copy; Copyright
						{{- if ne nil (.Data "year") }}
							{{.Data "year"}}.
						{{- else -}}
							.
						{{- end }}
						All Rights Reserved.
					</div>
				{{- else if ne "" $license -}}
					{{- $licenses := .Dataset "bandwagon-album.licenses" -}}
					{{- $licenseInfo := $licenses.Value $license -}}
					<h3 class="margin-none">License</h3>
					<div>
						<a href="{{$licenseInfo.Href}}" rel="license" class="text-plain" target="_blank">
							{{icon $licenseInfo.Icon}} 
							{{ if ne nil (.Data "year") }}
								{{.Data "year"}}
							{{- end }}
							{{$licenseInfo.Label}}
						</a>
					</div>
				{{- end -}}
			</div>

		</div>

		{{- if $songs.NotEmpty -}}
			<audio hx-on:ended="PlayNext()">
				<source id="source-ogg" type="audio/ogg">
				<source id="source-mp3" type="audio/mp3">
			</audio>

			<script src="/.templates/bandwagon-album/javascript" preload></script>
			<script id="playlist" type="application/javascript" data-json='[
				{{- $first := true -}}
				{{- range $index, $song := $songs -}}
					{{- if ne nil $song.Data.attachmentId -}}
						{{- if not $first -}},{{- end -}}
						{{- $first = false -}}
						{"url":"/{{$song.StreamID}}/attachments/{{$song.Data.attachmentId}}", "title":{{$song.Label | json}} }
					{{ end -}}
				{{- end -}}
				]'>
				var playlist = JSON.parse(document.getElementById('playlist').dataset.json);
			</script>

			{{- if $canEdit -}}

				<script src="/.themes/global/resources/sortable-1.15.0/Sortable.min.js" preload></script>

				<script>
					new Sortable(document.getElementById("album-tracks"), {
						handle: ".drag-handle",
						animation: 150,
						whisperClass: 'draggable-whisper'
					});
				</script>

				<style>
					.drag-handle {
						cursor:grab;
					}

					.draggable-whisper {
						background-color: var(--gray50);
						color:var(--gray50);
						cursor: grabbing;
					}
				</style>
			{{- end -}}

		{{- end -}}

	</div>

	{{- if $canEdit -}}

		<div id="stream-refresh-{{.StreamID}}" hx-preserve>

			<div 
				hx-get="/{{.StreamID}}" 
				hx-trigger="refreshPage from:window" 
				hx-push-url="false"
				hx-target="#main"
				hx-swap="innerHTML">
			</div>

			<div 
				hx-get="/{{.StreamID}}" 
				hx-trigger="refreshPage from:window delay:300ms" 
				hx-push-url="false"
				hx-target="#main"
				hx-swap="innerHTML">
			</div>

			<div 
				hx-get="/{{.StreamID}}" 
				hx-trigger="refreshPage from:window delay:600ms" 
				hx-push-url="false"
				hx-target="#main"
				hx-swap="innerHTML">
			</div>

			<div 
				hx-get="/{{.StreamID}}" 
				hx-trigger="refreshPage from:window delay:900ms" 
				hx-push-url="false"
				hx-target="#main"
				hx-swap="innerHTML">
			</div>

			<!--
			<div 
				hx-get="/{{.StreamID}}" 
				hx-trigger="refreshPage from:window delay:1000ms" 
				hx-push-url="false"
				hx-target="#main"
				hx-swap="innerHTML">
			</div>
			-->

			<!--
			<div hx-ext="sse" sse-connect="/{{.StreamID}}/sse">
				<div 
					hx-get="/{{.StreamID}}" 
					hx-target="main"
					hx-swap="innerHTML"
					hx-trigger="sse:{{.StreamID}}" 
					hx-push-url="false">
				</div>
			</div>
			-->

		</div>
	{{- end -}}

</div>