{{- $streamID := .StreamID -}}
{{- $tags := .Tags -}}
{{- $songs := .Children.Top60.ByRank.Slice -}}
{{- $canEdit := .UserCan "edit" -}}
{{- $isPlayable := false -}}
{{- $links := .Data "links" -}}

{{- range $index, $song := $songs -}}
	{{- if ne nil $song.Data.attachmentId -}}
		{{- $isPlayable = true -}} 
	{{- end -}}
{{- end -}}

<div class="page padding-none">

	<link rel="stylesheet" type="text/css" href="/{{.StreamID}}/stylesheet?v={{.ETag}}"/>

	<!-- oEmbed: https://oembed.com -->
	<link rel="alternate" type="application/json+oembed" href="{{.OEmbedJSON}}">
	<link rel="alternate" type="text/xml+oembed" href="{{.OEmbedXML}}">

	<!-- Open Graph: https://ogp.me/ -->
	<!-- https://developers.facebook.com/docs/opengraph/music/ -->
	<meta property="og:type" content="music.album">
	<meta property="og:title" content="{{.Label}}">
	<meta property="og:url" content="{{.Permalink}}">
	<meta property="og:image" content="{{.IconURL}}">
	<meta property="og:description" content="{{.Summary}}">
	<meta property="og:site_name" content="{{.DomainLabel}}">
	<meta property="music:release_date" content="{{.Data `year`}}">
	<meta property="music:musician" content="{{.AttributedTo.ProfileURL}}">

	{{- $year := .Data "year" -}}
		{{- range $index, $song := $songs -}}
		<meta property="music:song" content="{{$song.URL}}">
		<meta property="music:song:track" content="{{$index}}">
	{{- end -}}

	{{- if not .IsPublished -}}
		<div class="clickable alert-red" hx-get="/{{.StreamID}}/publish" role="button">
			{{icon "alert-fill"}} 
			This album HAS NOT BEEN published yet and won't be seen by others.
			<span class="text-underline">Click here to publish it</span>
		</div>
	{{- end -}}

	<div class="padding pos-relative">
			
		<!-- First Row: Album Name and Artwork -->
		<div class="md:flex-row margin-bottom">
			<div class="md:width-256 flex-shrink-0 pos-relative">
				{{- if ne "" .IconURL -}}
					<img src="{{.IconURL}}" class="width-100% rounded square" aria-hidden="true" style="object-fit:cover;">
				{{- else if $canEdit -}}
					<div class="rounded square text-center flex-column flex-justify-center flex-align-center" style="border:solid 1px var(--black)" script="install blockselect()">
						<a hx-get="/{{.StreamID}}/edit" class="text-plain">Click here to add album art</a>
					</div>
				{{- end -}}

			</div>
			<div class="md:width-32"></div>
			<div class="flex-grow-1">
				<h1 class="margin-bottom-xs">{{.Label}}</h1>
				<div class="text-lg margin-top-none">
					<a hx-get="/@{{.ParentID}}" href="/@{{.ParentID}}" class="turboclick" aria-label="Artist: {{.AttributedTo.Name}}">
						{{.AttributedTo.Name}}
					</a> 
				</div>

				<div class="margin-vertical"></div>
	
				{{- if $isPlayable -}}
					<div id="media-controls" class="margin-vertical-lg">
						<button hx-on:click="PlayFirst()" class="primary playing-hide">{{icon "play-fill"}} Play Album</button>
						<button hx-on:click="PlayPrevious()" class="primary playing-show margin-right-none">{{icon "skip-backward-fill"}}</button>
						<button hx-on:click="Pause()" class="primary playing-show margin-right-none">{{icon "pause-fill"}}</button>
						<button hx-on:click="PlayNext(true)" class="primary playing-show">{{icon "skip-forward-fill"}}</button>
					</div>
				{{- else if $canEdit -}}
					<div class="margin-vertical-lg">
						<button disabled class="primary">{{icon "play-fill"}} Play Album</button>
						<div class="text-xs text-light-gray">Upload Songs to Enable Playback</div>
					</div>
				{{- end -}}

				<div class="text-sm">
					<button hx-get="/{{.StreamID}}/intent?intent=create&content={{.Label}} {{.Permalink}}"><span aria-hidden="true" class="margin-left-xs">{{icon "share"}}</span> Share</button>
					<button hx-get="/{{.StreamID}}/intent?intent=like&object={{.Permalink}}"><span aria-hidden="true" class="margin-left-xs">{{icon "thumbs-up"}}</span> Like</button>
					<button hx-get="/{{.StreamID}}/intent" aria-label="Manage Accounts">{{icon "more-horizontal"}}</button>
				</div>
			</div>
		</div>

		<!-- Second Row: -->
		<div class="md:flex-row-reverse">

			<!-- Song List -->
			<div class="flex-grow-1">

				{{- if $songs.NotEmpty -}}
				
					<form hx-post="/{{.StreamID}}/sort-tracks" hx-trigger="end">
						<table class="table">
							<tbody id="track-list">
								{{- range $index, $song := $songs -}}
									{{- $isplayable := ne nil $song.Data.attachmentId -}}
									<tr id="track-{{$index}}" class="track hover-trigger" role="button">
										<input type="hidden" name="keys" value="{{.StreamID}}">
										{{- if and $canEdit (gt $songs.Length 1) -}}
											<td class="">
												<span class="drag-handle">{{icon "drag-handle"}}</span>
											</td>
										{{- end -}}

										<td nowrap
											{{ if $isplayable -}}
												hx-on:click="Toggle({{$index}})"
											{{- else -}}
												hx-get="/{{$song.StreamID}}"
											{{- end -}}
										>

											<span class="text-gray">
												{{- if $isplayable -}}
													<span class="playing-hide hover-show">{{icon "play-fill"}}</span>
													<span class="playing-show">{{icon "volume-up-fill"}}</span>
													{{- if eq $song.IsFeatured true -}}
														<span class="playing-hide hover-hide">{{icon "star-fill"}}</span>
													{{- end -}}
												{{- else -}}
													{{- if $song.IsFeatured -}}
														<span class="playing-hide">{{icon "star-fill"}}</span>
													{{- else -}}
														<span class="invisible">{{icon "star-fill"}}</span>
													{{- end -}}
												{{- end -}}
											</span>
										</td>
										<td nowrap class="align-right"
											{{ if $isplayable -}}
												hx-on:click="Toggle({{$index}})"
											{{- else -}}
												hx-get="/{{$song.StreamID}}"
											{{- end -}}
										>
											<span class="hide sm:show">{{add $index 1}}.</span>
										</td>
										<td class="width-100%"
											{{ if $isplayable -}}
												hx-on:click="Toggle({{$index}})"
											{{- else -}}
												hx-get="/{{$song.StreamID}}"
											{{- end -}}
										>
											{{$song.Label}}
											{{ if eq true $song.Data.explicit }}<span class="text-gray text-xs margin-left-sm">{{icon "explicit-fill"}}</span>{{ end }}
										</td>
										<td nowrap class="align-right"
											{{ if $isplayable -}}
												hx-on:click="Toggle({{$index}})"
											{{- else -}}
												hx-get="/{{$song.StreamID}}"
											{{- end -}}
										>
											{{- $song.Data.length -}}
										</td>
										<td class="text-xs align-right" nowrap>
											<button hx-get="/{{$song.StreamID}}" class="margin-right-none margin-left-sm" aria-label="Song Details">{{icon "more-horizontal"}}</button>
											{{- if $canEdit -}}
												<button hx-get="/{{$song.StreamID}}/edit" class="margin-right-none margin-left-sm">Edit</button>
											{{- end -}}
										</td>
									</tr>
								{{- end -}}

								{{- if $canEdit -}}
									<tr hx-get="/{{.StreamID}}/add-song" role="button" class="link">
										<td></td>
										<td aria-hidden="true">
											{{icon "add"}}
										</td>
										<td colspan="5">
											Add Another Song
										</td>
									</tr>
								{{- end -}}

							</tbody>
						</table>
					</form>

				{{- else if and $songs.IsEmpty $canEdit -}}
					<div class="table">
						<div>
							<span role="button" class="link" hx-get="/{{.StreamID}}/add-song"><span aria-hidden="true">{{icon "plus"}}</span> Add a song to this album</span>
						</div>
					</div>
				{{- end -}}
			
			</div>

			<div class="md:width-32 flex-shrink-0 flex-grow-0"></div>
			<div class="md:width-256 flex-shrink-0">

				{{- if $tags.NotEmpty -}}
					<div class="text-sm margin-bottom">
						{{- range $index, $tag := $tags -}}
							{{- if eq "Hashtag" $tag.Type}}
								<a href="/albums?q={{$tag.Name}}" class="tag margin-bottom-sm">#{{$tag.Name}}</a>
							{{- end -}}
						{{- end -}}
					</div>
				{{- end -}}

				{{- if ne "" .Summary -}}
					<div class="margin-bottom-lg">
						<h3>Album Notes</h3>
						{{.Summary | markdown}}
					</div>
				{{- end -}}

				{{- if $links.NotEmpty -}}
					<div class="margin-bottom-lg">
						<h3>Stream Online</h3>
						{{- range $key, $value := $links -}}
							
							{{- if ne "" $value -}}
								{{- $icon := "music-note-beamed" -}}
								{{- $label := $value -}}

								{{- if eq "AMAZON" $key -}}
									{{- $label = "Amazon Music" -}}
									{{- $icon = "amazon" -}}

								{{- else if eq "APPLE" $key -}}
									{{- $icon = "apple" -}}
									{{- $label = "Apple Music" -}}

								{{- else if eq "BANDCAMP" $key -}}
									{{- $label = "Bandcamp" -}}

								{{- else if eq "GOOGLE" $key -}}
									{{- $label = "Google Play" -}}
									{{- $icon = "google" -}}

								{{- else if eq "IHEARTRADIO" $key -}}
									{{- $label = "iHeartRadio" -}}

								{{- else if eq "PANDORA" $key -}}
									{{- $label = "Pandora" -}}

								{{- else if eq "SOUNDCLOUD" $key -}}
									{{- $label = "SoundCloud" -}}
									{{- $icon = "cloud" -}}

								{{- else if eq "SPOTIFY" $key -}}
									{{- $label = "Spotify" -}}
									{{- $icon = "spotify" -}}

								{{- else if eq "TIDAL" $key -}}
									{{- $label = "Tidal" -}}

								{{- else if eq "YOUTUBE" $key -}}
									{{- $label = "YouTube Music" -}}
									{{- $icon = "youtube" -}}

								{{- else -}}
									{{- $label = domainOnly $value -}}

								{{- end -}}

								<a href="{{$value}}" class="block ellipsis" target="_blank">
									<i class="bi bi-{{$icon}}"></i> {{ $label }}
								</a>
							{{- end -}}

						{{- end -}}
						</div>
				{{- end -}}

				{{- $uploads := .AttachmentsByCategory "other" -}}
				{{- if or $uploads.NotEmpty $canEdit -}}
					<div class="margin-bottom-lg">
						<div class="flex-row">
							<h3 class="flex-grow margin-none">Other Files</h3>
						</div>

						{{- if $canEdit -}}
							<div class="margin-bottom-sm">
								<div class="text-gray">Attachments like <b class="nowrap">liner notes</b> or <b class="nowrap">album art</b> that anyone can access.</div>
								<span role="button" hx-get="/{{$streamID}}/upload" class="link" aria-label="Attach a File">{{icon "upload"}} Attach a File</span>
							</div>
						{{- end -}}

						{{- if $uploads.NotEmpty -}}
							<div class="table margin-top-lg">
								{{- range $index, $upload := $uploads -}}
									<div class="flex-row padding-vertical-sm">
										<div class="flex-grow">
											<a href="/{{$streamID}}/attachments/{{.AttachmentID.Hex}}" target="_blank" class="ellipsis">{{.Label}}</a><br>
											<span class="text-sm text-gray">{{.Description}}</span>
										</div>
										{{- if $canEdit -}}
											<div>
												<button hx-get="/{{$streamID}}/edit-upload?attachmentId={{.AttachmentID.Hex}}" title="Edit Attachment" aria-label="Edit Attachment" class="text-xs margin-left-sm">{{icon "more-horizontal"}}</button>
											</div>
										{{- end -}}
									</div>
								{{- end -}}
							</div>
						{{- end -}}
					</div>
				{{- end -}}

				<div class="margin-bottom-lg">
					{{- $license := .DataString "license"}}
					{{- if eq "COPYRIGHT" $license -}}
						<h3 class="margin-none">License</h3>
						<div>
							&copy;
							{{ if ne nil (.Data "year") }}
								{{.Data "year"}}
							{{- end }}
							Copyright.  All Rights Reserved.
						</div>
					{{- else if ne "" $license -}}
						{{- $licenses := .Dataset "bandwagon-album.licenses" -}}
						{{- $licenseInfo := $licenses.Value $license -}}
						<h3 class="margin-none">License</h3>
						<div>
							<a href="{{$licenseInfo.Href}}" rel="license" class="text-plain" target="_blank">
								{{icon $licenseInfo.Icon}} 
								{{ if ne nil (.Data "year") }}
									{{.Data "year"}}
								{{- end }}
								{{$licenseInfo.Label}}
							</a>
						</div>
					{{- end -}}
				</div>
	
			</div>

		</div>

		{{- if $songs.NotEmpty -}}
			<audio hx-on:ended="PlayNext()">
				<!--source id="source-aac" type="audio/aac"-->
				<source id="source-mp3" type="audio/mp3">
				<source id="source-ogg" type="audio/ogg">
			</audio>

			<script src="/.templates/bandwagon-album/javascript" preload></script>
			<script id="playlist" type="application/javascript" data-json='[
				{{- $first := true -}}
				{{- range $index, $song := $songs -}}
					{{- if ne nil $song.Data.attachmentId -}}
						{{- if not $first -}},{{- end -}}
						{{- $first = false -}}
						{"url":"/{{$song.StreamID}}/attachments/{{$song.Data.attachmentId}}", "title":{{$song.Label | json}} }
					{{ end -}}
				{{- end -}}
				]'>
				var playlist = JSON.parse(document.getElementById('playlist').dataset.json);
			</script>

			{{- if $canEdit -}}

				<script src="/.themes/global/resources/sortable-1.15.0/Sortable.min.js" preload></script>

				<script>
					new Sortable(document.getElementById("track-list"), {
						handle: ".drag-handle",
						animation: 150,
						whisperClass: 'draggable-whisper'
					});
				</script>

				<style>
					.drag-handle {
						cursor:grab;
					}

					.draggable-whisper {
						background-color: var(--gray50);
						color:var(--gray50);
						cursor: grabbing;
					}
				</style>
			{{- end -}}

		{{- end -}}

		<div class="pos-absolute-top-right text-sm">
			{{- if $canEdit -}}
				<button hx-get="/{{.StreamID}}/edit">Edit Album</button>

				{{- if .IsPublished -}}
					<button hx-get="/{{.StreamID}}/unpublish">Un-Publish</button>
				{{- else -}}
					<button hx-get="/{{.StreamID}}/publish" class="primary">Publish</button>
				{{- end -}}
			{{- end -}}

			{{- if .UserCan "zip" -}}
				<a class="button" href="/{{.StreamID}}/zip">Download</a>
			{{- end -}}
		</div>


		<div hx-get="/{{.StreamID}}" hx-trigger="refreshPage from:window"></div>

	</div>

	{{- if $canEdit -}}
		<div hx-ext="sse" sse-connect="/{{.StreamID}}/sse">
			<div hx-get="/{{.StreamID}}" hx-trigger="sse:{{.StreamID}}, refreshPage from:window" hx-push-url="false"></div>
		</div>
	{{- end -}}

</div>

