{{- $tags := .Tags -}}
{{- $songs := .Children.Top60.ByRank.Slice -}}
{{- $canEdit := .UserCan "edit" -}}

<div class="page">

	<style>
		{{template "stylesheet" .}}
	</style>

	<!-- First Row: Album Name and Artwork -->
	<div class="md:flex-row margin-bottom">
		<div class="md:width-256 flex-shrink-0">
			<img src="{{.IconURL}}" class="width-100-percent aspect-square" aria-hidden="true" style="object-fit:cover;">
		</div>
		<div class="md:width-32"></div>
		<div class="flex-grow-1">
			<div class="text-lg margin-top-none">
				<a hx-get="/@{{.ParentID}}" href="/@{{.ParentID}}" class="turboclick" aria-label="Artist: {{.AttributedTo.Name}}">
					{{.AttributedTo.Name}}
				</a> 
			</div>
			<h1 class="margin-vertical-none">{{.Label}}</h1>
			{{ if ne nil (.Data "year") -}}
				<div class="margin-bottom text-gray">{{.Data "year"}}</div>
			{{- end -}}
			<!--div>
				{{- range $index, $tag := $tags -}}
					{{- if eq "Hashtag" $tag.Type}}
						{{- if ne 0 $index -}},&nbsp;{{- end -}}
						<a href="{{$tag.Href}}">{{$tag.Name}}</a>
					{{- end -}}
				{{- end -}}
			</div-->
			<div class="margin-vertical"></div>
			<div id="media-controls" class="margin-vertical-lg">
				<button hx-on:click="PlayFirst()" class="primary playing-hide">{{icon "play-fill"}} Play Album</button>
				<button hx-on:click="PlayPrevious()" class="primary playing-show margin-right-none">{{icon "skip-backward-fill"}}</button>
				<button hx-on:click="Pause()" class="primary playing-show margin-right-none">{{icon "pause-fill"}}</button>
				<button hx-on:click="PlayNext()" class="primary playing-show">{{icon "skip-forward-fill"}}</button>
				{{- if (.Data "links").NotEmpty -}}
					<button hx-get="/{{.StreamID}}/links">{{icon "cloud"}} Links</button>
				{{- end -}}
			</div>
		</div>
	</div>

	<!-- Second Row: -->
	<div class="md:flex-row-reverse">

		<!-- Song List -->
		<div class="flex-grow-1">
			<form hx-post="/{{.StreamID}}/sort-tracks" hx-trigger="end">
				<table class="table">
					<tbody id="track-list">
					{{- range $index, $song := $songs -}}
						{{- $isplayable := ne nil $song.Data.attachmentId -}}
						<tr id="track-{{$index}}" class="track hover-trigger" role="button">
							<input type="hidden" name="keys" value="{{.StreamID}}">
							{{- if $canEdit -}}
								<td class="">
									<span class="drag-handle">{{icon "drag-handle"}}</span>
								</td>
							{{- end -}}

							<td nowrap
								{{ if $isplayable -}}
									hx-on:click="Toggle({{$index}})"
								{{- else -}}
									hx-get="/{{$song.StreamID}}"
								{{- end -}}
							>

								<span class="margin-right text-gray">
									{{- if $isplayable -}}
									<span class="hover-show">{{icon "play-fill"}}</span>
										{{- if eq $song.IsFeatured true -}}
											<span class="hover-hide">{{icon "star-fill"}}</span>
										{{- else -}}
											<span class="invisible hover-hide">{{icon "play-fill"}}</span>
											{{- end -}}
									{{- else -}}
										{{- if eq $song.IsFeatured true -}}
											{{icon "star-fill"}}
										{{- end -}}
									{{- end -}}
								</span>
							</td>
							<td nowrap class="align-right"
								{{ if $isplayable -}}
									hx-on:click="Toggle({{$index}})"
								{{- else -}}
									hx-get="/{{$song.StreamID}}"
								{{- end -}}
							>
								<span class="hide sm:show">{{add $index 1}}.</span>
							</td>
							<td class="width-100-percent"
								{{ if $isplayable -}}
									hx-on:click="Toggle({{$index}})"
								{{- else -}}
									hx-get="/{{$song.StreamID}}"
								{{- end -}}
							>
								{{$song.Label}}
								{{ if eq true $song.Data.explicit }}<span class="text-gray text-xs margin-left-sm">{{icon "explicit-fill"}}</span>{{ end }}
							</td>
							<td nowrap class="align-right"
								{{ if $isplayable -}}
									hx-on:click="Toggle({{$index}})"
								{{- else -}}
									hx-get="/{{$song.StreamID}}"
								{{- end -}}
							>
								{{- $song.Data.length -}}
							</td>
							<td class="text-xs align-right" nowrap>
								<button hx-get="/{{$song.StreamID}}" class="margin-right-none margin-left-sm" aria-label="Song Details">{{icon "more-horizontal"}}</button>
								{{- if $canEdit -}}
									<button hx-get="/{{$song.StreamID}}/edit" class="margin-right-none margin-left-sm">Edit</button>
								{{- end -}}
							</td>
						</tr>
					{{- end -}}
					</tbody>
				</table>
			</form>

		</div>

		<div class="md:width-32 flex-shrink-0 flex-grow-0"></div>
		<div class="md:width-256 flex-shrink-0">

			{{- if ne "" .Summary -}}
				<div class="margin-bottom-lg">
					<h3>Album Notes</h3>
					{{.Summary | markdown}}
				</div>
			{{- end -}}

		</div>

	</div>

	<audio hx-on:ended="PlayNext()">
		<source id="source-aac" type="audio/aac">
		<source id="source-mp3" type="audio/mp3">
	</audio>

	<script src="/.templates/bandwagon-album/javascript" preload></script>
	<script type="application/javascript">
		var playlist = [
		{{- $first := true -}}
		{{- range $index, $song := $songs -}}
			{{- if ne nil $song.Data.attachmentId -}}
				{{- if not $first -}},{{- end -}}
				{{- $first = false -}}
				{"index":{{$index}}, "url":"/{{$song.StreamID}}/attachments/{{$song.Data.attachmentId}}", "title":"{{$song.Label}}"}
			{{ end -}}
		{{- end -}}
		]
	</script>

	{{- if $canEdit -}}
		<div class="pos-absolute-top-right text-sm">
			<button hx-get="/{{.StreamID}}/edit">Edit Album</button>
			<button hx-get="/{{.StreamID}}/add-song"><span aria-label="Add">{{icon "add"}}</span> Song</button>
		</div>

		<script src="/.themes/global/resources/sortable-1.15.0/Sortable.min.js"></script>

		<script>
			new Sortable(document.getElementById("track-list"), {
				handle: ".drag-handle",
				animation: 150,
				whisperClass: 'draggable-whisper'
			});
		</script>

		<style>
			.drag-handle {
				cursor:grab;
			}

			.draggable-whisper {
				background-color: var(--gray50);
				color:var(--gray50);
				cursor: grabbing;
			}
		</style>
	{{- end -}}

	<div hx-get="/{{.StreamID}}" hx-trigger="refreshPage from:window"></div>

</div>