{{- $query := .QueryParam "q" -}}
{{- $licenses := .Dataset "bandwagon-search-albums.licenses" -}}
{{- $tags := .QueryParam "tags" -}}

<div class="flex-row md:flex-column">
	<a class="search-navigation turboclick selected" href="/albums" hx-get="/albums">Albums</a>
	<a class="search-navigation turboclick" href="artists?q={{$query}}" hx-get="/artists?q={{$query}}">Artists</a>
	<a class="search-navigation turboclick" href="/events?q={{$query}}" hx-get="/events?q={{$query}}">Calendar</a>
</div>

<hr>

<div class="text-xs">
	<label for="licenses" class="text-gray">LICENSE</label>
	<select id="licenses" name="tags" form="search-form" script='install select(value:"{{$tags}}", prefix:"LIC:", options:{{$licenses | json}}) on change send submit to #search-form'>
		<option value="">(All)</option>
	</select>
</div>
