{{- $albums := (.Outbox.Where "templateId" "bandwagon-album").ByRankAlt.Slice -}}
{{- $isMyself := .IsMyself -}}
{{- $description := .Data "description-albums" -}}

<!-- Page content -->
<div class="framed page app padding-none" script="on load add [@aria-selected=true] to #albums">

	{{- template "header" . -}}

	<div class="padding pos-relative">

		{{- if ne "" $description -}}
			<div class="max-width-640">{{$description | markdown}}</div>
		{{- end -}}

		{{- if $isMyself -}}
			<form hx-post="/@{{.UserID}}/sort-children" hx-trigger="end" hx-push-url="false">
		{{- end -}}
	
		<div hx-push-url="true">

			<div class="sortable margin-vertical-lg cols-2-4">
				{{- range $albums -}}
					{{- if or .IsPublished $isMyself -}}
						<div class="card hover-trigger hover-swell" script="install blockselect()">
							<img src="{{.IconURL}}" class="square width-100% block" style="object-fit:cover">
							<a hx-get="/{{.StreamID}}" href="/{{.StreamID}}" class="block turboclick">
								<div class="block padding">
									<div class="bold">{{.Label}}</div>
									<div>{{.Data.year}}</div>
								</div>
							</a>

							{{- if not .IsPublished -}}
								<div class="pos-absolute-four-corners bg-stripes flex-center">
									<span class="text-xl bold">UNPUBLISHED</span>
								</div>
							{{- end -}}

							{{- if $isMyself -}}
								<button class="hover-show pos-absolute-top-left text-xs drag-handle">{{icon "drag-handle"}}</button>
								<button hx-get="/{{.StreamID}}/edit" class="hover-show button pos-absolute-top-right text-xs">Edit</button>
								<input type="hidden" name="keys" value="{{.StreamID}}">
							{{- end -}}
						</div>
					{{- end -}}

				{{- end -}}

				{{- if $isMyself -}}

					<div class="rounded card padding flex-center">
						<div class="align-center link" role="button" hx-get="/@{{.UserID}}/add-album">
							<div class="margin-vertical-xl">
								<div class="margin-none" style="font-size:64px;">{{icon "cassette"}}</div>
								<div class="text-xl margin-none bold">Add an Album</div>
							</div>
						</div>
					</div>

					{{- end -}}

			</div>

		</div>
		
		{{- if $isMyself -}}
		</form>

			<script src="/.themes/global/resources/sortable-1.15.0/Sortable.min.js"></script>

			<script>
				var sortables = document.querySelectorAll(".sortable");
				for (var node of sortables) {
					new Sortable(node, {
						handle: ".drag-handle",
						animation: 150,
						whisperClass: 'draggable-whisper'
					});
				}
			</script>

			<style>
				.draggable {
					padding:10px 20px;
					border: solid 1px var(--gray10);
					background-color: var(--gray00);
					color: var(--gray80);
					margin-bottom: -1px;
					cursor: grab;
				}

				.drag-handle {
					cursor:grab;
				}

				.draggable-whisper {
					background-color: var(--gray50);
					color:var(--gray50);
					cursor: grabbing;
				}
			</style>

		{{- end -}}

	</div>

	<div hx-get="/@{{.UserID}}/albums" hx-trigger="refreshPage from:window"></div>

</div>