{{- $albums := (.Outbox.Where "templateId" "bandwagon-album").ByRankAlt.Slice -}}
{{- $isMyself := .IsMyself -}}
{{- $label := first (.Data "label-albums") "Albums" -}}
{{- $description := .Data "description-albums" -}}

<!-- Page content -->
<div class="framed page padding-none" script="on load add [@aria-selected=true] to #albums">

	{{- template "header" . -}}

	<div class="padding pos-relative">

		<div class="flex-row flex-align-center margin-top margin-bottom-xl">
			<a href="/@{{.Username}}" hx-boost="true" class="flex-row flex-align-center">
				<img src="{{.IconURL}}" class="circle width-32" aria-hidden="true">
				<span class="text-lg margin-none">{{.DisplayName}}</span>
			</a>
			<span class="text-lg bold margin-none">&middot; {{$label}}</span>

			{{- if $isMyself -}}
				<div class="pos-absolute-top-right text-xs">
					<button hx-get="/@{{.UserID}}/add-album" aria-label="Add an Album">{{icon "add"}} Album</button>
					<button hx-get="/@{{.UserID}}/edit-albums" aria-label="Edit Albums">Edit</button>
				</div>
			{{- end -}}

		</div>

		{{- if ne "" $description -}}
			<div class="max-width-640">{{$description | markdown}}</div>
		{{- end -}}

		{{- if $isMyself -}}
			<form hx-post="/@{{.UserID}}/sort-children" hx-trigger="end" hx-push-url="false">
		{{- end -}}
	
		<div hx-push-url="true">

			<div class="sortable margin-vertical-lg cols-2-4">
				{{- range $albums -}}
					{{- if or .IsPublished $isMyself -}}
						<a href="/{{.StreamID}}" hx-boost="true" hx-swap="transition:true" class="text-plain text-nocolor turboclick pos-relative hover-trigger hover-swell">
							<div class="rounded card">
								<img src="{{.IconURL}}" class="rounded-top square width-100% block" style="object-fit:cover">
								<div class="block padding">
									<div class="bold">{{.Label}}</div>
									<div>{{.Data.year}}</div>
								</div>
							</div>
							
							{{- if not .IsPublished -}}
								<div class="pos-absolute-four-corners bg-stripes flex-center">
									<span class="text-xl bold">UNPUBLISHED</span>
								</div>
							{{- end -}}

							{{- if $isMyself -}}
								<button class="hover-show pos-absolute-top-left text-xs drag-handle">{{icon "drag-handle"}}</button>
								<button hx-get="/{{.StreamID}}/edit" class="hover-show button pos-absolute-top-right text-xs">Edit</button>
								<input type="hidden" name="keys" value="{{.StreamID}}">
							{{- end -}}

						</a>
					{{- end -}}

				{{- end -}}

			</div>

		</div>
		
		{{- if $isMyself -}}
		</form>

			<script src="/.themes/global/resources/sortable-1.15.0/Sortable.min.js"></script>

			<script>
				var sortables = document.querySelectorAll(".sortable");
				for (var node of sortables) {
					new Sortable(node, {
						handle: ".drag-handle",
						animation: 150,
						whisperClass: 'draggable-whisper'
					});
				}
			</script>

			<style>
				.draggable {
					padding:10px 20px;
					border: solid 1px var(--gray10);
					background-color: var(--gray00);
					color: var(--gray80);
					margin-bottom: -1px;
					cursor: grab;
				}

				.drag-handle {
					cursor:grab;
				}

				.draggable-whisper {
					background-color: var(--gray50);
					color:var(--gray50);
					cursor: grabbing;
				}
			</style>

		{{- end -}}

	</div>

	<div 
		hx-get="/@{{.UserID}}/albums" 
		hx-trigger="refreshPage from:window" 
		hx-target="#main" 
		hx-swap="innerHTML"
		hx-push-url="false">
	</div>

</div>