{{- $events := .Outbox.ByStartDate -}}
{{- $events := $events.Where "templateId" "bandwagon-event" -}}
{{- $events := $events.Slice -}}
{{- $root := . -}}
{{- $isMyself := .IsMyself -}}
{{- $description := .Data "description-events" -}}

<div class="framed page app padding-none" script="on load add [@aria-selected=true] to #events">

	{{- template "header" . -}}

	{{- if $isMyself -}}
		<div class="margin-vertical align-right padding-sm text-sm">
			<button hx-get="/@{{.UserID}}/add-event">
				{{icon "add"}} Add Show
			</button>
		</div>
	{{- end -}}

	<div class="padding">

		{{- if ne "" $description -}}
			<div class="max-width-640 margin-bottom-lg">{{$description | markdown}}</div>
		{{- end -}}

		<table class="table">
	
			{{- range $events -}}

				{{- $backgroundColor := .Data.color.page | string | parseColor -}}
				{{- $textColor := $backgroundColor.TextExt -}}

				<tr class="hover-trigger" script="install blockselect()" style="background-color:{{$backgroundColor}}; color:{{$textColor}}">

					<td style="max-width:128px;">
						{{- if ne "" .IconURL -}}
							<img src="{{.IconURL}}" class="square width-100%">
						{{- end -}}
					</td>
					<td class="flex-column padding pos-relative" style="height:100%;">
						<div>
							<span class="bold text-gray">{{.Data.city}}</span>
						</div>
						<div class="text-xl margin-none bold">{{.StartDate | longDate}}</div>
						<div class="flex-grow margin-vertical">
							{{.Data.venue }}
							&middot;
							{{.StartDate | shortTime}}
						</div>
						<div class="margin-top">

							{{- $website := index .Data "website" | string -}}

							{{- if eq "" $website -}}
								<a href="/{{.StreamID}}" hx-get="/{{.StreamID}}" target="_blank" class="button primary">More Info</a>
							{{- else -}}
								{{- $websiteLabel := index .Data "websiteLabel" -}}
								{{- $websiteLabel := first $websiteLabel "Get Tickets" -}}
								<a href="{{$website}}" target="_blank" class="button primary">{{$websiteLabel}}</a>
								<a href="/{{.StreamID}}" hx-get="/{{.StreamID}}" target="_blank" class="button">More Info</a>
							{{- end -}}
						</div>

						{{- if $isMyself -}}
							<button hx-get="/{{.StreamID}}/edit" class="hover-show pos-absolute-top-right text-xs">Edit Event</button>
						{{- end -}}
					</td>

				</tr>
				
			{{- end -}}

		</table>

	</div>

	<div hx-get="/@{{.UserID}}/events" hx-trigger="refreshPage from:window"></div>

</div>