<style>{{- template "stylesheet" . -}}</style>

<!-- Banner Image -->
{{- if ne "" .ImageURL -}}
	<div style="width:100%; height:256px; background-color: #a0a0a0; background-image:url('{{.ImageURL}}'); background-size:cover; background-position:center"></div>
{{- end -}}

<!-- Menu Bar -->
<div id="band-menu" role="menubar">
	<a id="home" href="/@{{.UserID}}" hx-get="/@{{.UserID}}" role="menuitem" class="turboclick">{{.DisplayName}}</a>
	{{- if eq "true" (.Data "show-albums") -}}
		<a id="albums" href="/@{{.UserID}}/albums" hx-get="/@{{.UserID}}/albums" role="menuitem" class="turboclick">{{first (.Data "label-albums") "Albums"}}</a>
	{{- end -}}
	{{- if eq "true" (.Data "show-events") -}}
		<a id="events" href="/@{{.UserID}}/events" hx-get="/@{{.UserID}}/events" role="menuitem" class="turboclick">{{first (.Data "label-events") "Shows"}}</a>
	{{- end -}}
	{{- if eq "true" (.Data "show-news") -}}
		<a id="news" href="/@{{.UserID}}/news"  hx-get="/@{{.UserID}}/news" role="menuitem" class="turboclick">{{first (.Data "label-news") "News"}}</a>
	{{- end -}}
	{{- if ne "" (.Data "shop-url") -}}
		<a href="{{.Data `shop-url`}}" target="_blank" role="menuitem" class="turboclick">{{first (.Data "label-shop") "Shop"}}</a>
	{{- end -}}
</div>