{{- $isMyself := .IsMyself -}}
{{- $showAlbums := eq "true" (.Data "show-albums") -}}
{{- $showEvents := eq "true" (.Data "show-events") -}}
{{- $showNews := eq "true" (.Data "show-news") -}}
{{- $showShop := ne "" (.Data "shop-url") -}}
{{- $hasBannerImage := ne "" .ImageURL -}}
{{- $hasBannerColor := ne "" (.Data "color-banner") -}}

<style>{{- template "stylesheet" . -}}</style>

<!-- Banner Image -->
{{- if or $hasBannerImage $hasBannerColor $isMyself -}}
	<div id="profile-banner" class="pos-relative width-100% hide sm:show">
		{{- if $isMyself -}}
			<div class="pos-absolute-top-right flex-column">
				<button hx-get="/@me/edit" class="text-xs">Edit Profile</button>
				<button hx-get="/@{{.UserID}}/links" class="text-xs">Edit Links</button>
				<button hx-post="/signout" class="text-xs">Sign Out</button>
			</div>
		{{- end -}}
	</div>
{{- end -}}