{{- $isMyself := .IsMyself -}}
{{- $showAlbums := eq "true" (.Data "show-albums") -}}
{{- $showEvents := eq "true" (.Data "show-events") -}}
{{- $showNews := eq "true" (.Data "show-news") -}}
{{- $showShop := ne "" (.Data "shop-url") -}}
{{- $hasBannerImage := ne "" .ImageURL -}}
{{- $hasBannerColor := ne "" (.Data "color-banner") -}}

<style>{{- template "stylesheet" . -}}</style>

<!-- Banner Image -->
{{- if or $hasBannerImage $hasBannerColor $isMyself -}}

	<div id="band-banner" class="pos-relative width-100%">
		{{- if $isMyself -}}
			<div class="pos-absolute-top-right flex-column">
				<button hx-get="/@me/edit-banner" class="text-xs turboclick">Edit Banner</button>
			</div>
		{{- end -}}
	</div>
{{- end -}}

<!-- Menu Bar -->

{{- if or $showAlbums $showEvents $showNews $showShop $isMyself -}}
<div id="band-menu" role="menubar" class="pos-relative">
	<a id="home" href="/@{{.Username}}" hx-get="/@{{.Username}}" role="menuitem" class="turboclick" aria-label="Home">{{icon "home-fill"}}</a>
	{{- if $showAlbums -}}
		<a id="albums" href="/@{{.Username}}/albums" hx-get="/@{{.Username}}/albums" role="menuitem" class="turboclick">{{first (.Data "label-albums") "Albums"}}</a>
	{{- end -}}
	{{- if $showEvents -}}
		<a id="events" href="/@{{.Username}}/events" hx-get="/@{{.Username}}/events" role="menuitem" class="turboclick">{{first (.Data "label-events") "Shows"}}</a>
	{{- end -}}
	{{- if $showNews -}}
		<a id="news" href="/@{{.Username}}/news"  hx-get="/@{{.Username}}/news" role="menuitem" class="turboclick">{{first (.Data "label-news") "News"}}</a>
	{{- end -}}
	{{- if $showShop -}}
		<a href="{{.Data `shop-url`}}" target="_blank" role="menuitem" class="turboclick">{{first (.Data "label-shop") "Shop"}}</a>
	{{- end -}}

	{{- if $isMyself -}}
		<div class="pos-absolute-top-right">
			<button hx-get="/@me/edit-menu" class="text-xs turboclick">Edit Menu</button>
		</div>
	{{- end -}}
</div>
{{- end -}}