{{- $posts := .Outbox.Top60.ByPublishDate.Reverse -}}
{{- $posts := $posts.Where "templateId" "bandwagon-news" -}}
{{- $posts := $posts.Slice -}}

{{- $isMyself := .IsMyself -}}
{{- $description := .Data "description-news" -}}

<div class="framed page app padding-none" script="on load add [@aria-selected=true] to #news">

	{{- template "header" . -}}

	{{- if $isMyself -}}
		<div class="text-sm align-right padding-sm margin-bottom">
			<button hx-get="/@{{.UserID}}/add-news" class="text-sm" aria-label="Add a Post">{{icon "add"}} News</button>
		</div>
	{{- end -}}

	<div class="padding">
	
		{{- if ne "" $description -}}
			<div class="max-width-640">{{$description | markdown}}</div>
		{{- end -}}

		{{- if $posts.NotEmpty -}}
			<table class="table">
				{{- range $posts -}}
					<tr class="hover-trigger" script="install blockselect()">
						<td>
							{{- if ne "" .IconURL -}}
								<img src="{{.IconURL}}" class="square width-100% block" aria-hidden="true">
							{{- end -}}
						</td>
						<td class="pos-relative padding-right-none">
							<div class="text-xl bold margin-none">{{.Label}}</div>
							<div class="margin-vertical flex-grow ellipsis-block">{{.Summary}}</div>
							<a href="/{{.StreamID}}" hx-boost="true">{{first .Data.linkText "Read More"}}</a>
							{{- if $isMyself -}}
								<button hx-get="/{{.StreamID}}/edit" class="pos-absolute-top-right text-xs hover-show">Edit News</button>
							{{- end -}}
						</div>
					</tr>
				{{- end -}}
			</table>

		{{- end -}}
	</div>

	<div hx-get="/@{{.UserID}}/news" hx-trigger="refreshPage from:window"></div>

</div>