{{- $posts := (.Outbox.Where "templateId" "bandwagon-news").ByPublishDate.Reverse.Slice -}}
{{- $isMyself := .IsMyself -}}
{{- $description := .Data "description-news" -}}

<div class="framed page app padding-none" script="on load add [@aria-selected=true] to #news">

	{{- template "header" . -}}

	<div class="padding">
	
		{{- if $isMyself -}}
			<div class="button-group text-sm margin-bottom">
				<button hx-get="/@{{.UserID}}/edit">Edit Profile</button>
				<button hx-get="/@{{.UserID}}/add-news" class="text-sm" aria-label="Add a Post">{{icon "add"}} Post</button>
			</div>
		{{- end -}}

		{{- if ne "" $description -}}
			<div class="max-width-640">{{$description | markdown}}</div>
		{{- end -}}

		{{- if $posts.NotEmpty -}}
			<div class="margin-vertical columns-4">
				{{- range $posts -}}
					<div class="card hover-trigger padding-sm flex-column" script="install blockselect()">
						<h2>{{.Label}}</h2>
						<div class="margin-vertical flex-grow ellipsis-block">{{.Summary}}</div>
						<a hx-get="/{{.StreamID}}" href="/{{.StreamID}}">{{first .Data.linkText "Read More"}}</a>
						{{- if $isMyself -}}
							<a hx-get="/{{.StreamID}}/edit" class="button pos-absolute-top-right text-xs hover-show">Edit</a>
						{{- end -}}
					</div>
				{{- end -}}
			</div>

		{{- else if $isMyself -}}
			<div class="margin-top columns-4">
				<div class="card padding clickable bold align-center" role="button" hx-get="/@{{.UserID}}/add-news">
					<div class="text-3xl margin-sm">{{icon "add"}}</div>
					Click here to add your first post
				</div>

				{{- range seq 3 -}}
					<div class="card card-dashed padding text-light-gray align-center">
						<div class="text-3xl margin-sm">&hellip;</div>
						Coming Soon...<br><br>
					</div>
				{{- end -}}
			</div>

		{{- end -}}
	</div>

	<div hx-get="/@{{.UserID}}/news" hx-trigger="refreshPage from:window"></div>

</div>