{{- $isMyself := .IsMyself -}}

{{- if eq .StateID "LIVE" -}}

	{{- $featured := .Outbox.Featured.ByRank.Slice -}}

	<!-- Page content -->
	<div class="framed page app h-card padding-none" script="on load add [@aria-selected=true] to #home">

		<title>{{.DisplayName}}</title>
		<link rel="icon" href="{{.IconURL}}"/>

		<!-- oEmbed: https://oembed.com -->
		<link rel="alternate" type="application/json+oembed" href="{{.OEmbedJSON}}">
		<link rel="alternate" type="text/xml+oembed" href="{{.OEmbedXML}}">
			
		<!-- ActivityPub links -->
		<link rel="http://webfinger.net/rel/profile-page" href="{{.ProfileURL}}"/>
		<link rel="http://ostatus.org/schema/1.0/subscribe" href="{{.Host}}/.ostatus/tunnel?uri={uri}">
		<link rel="self" type="application/activity+json" href="{{.ActivityPubURL}}"/>

		<!-- RSS and WebSub Links -->
		<link rel="hub" href="{{.Host}}/@{{.UserID}}/websub"/>
		<link rel="alternate" type="application/rss+xml" href="{{.Host}}/@{{.UserID}}/feed?format=rss"/>
		<link rel="alternate" type="application/atom+xml" href="{{.Host}}/@{{.UserID}}/feed?format=atom"/>
		<link rel="alternate" type="application/feed+json" href="{{.Host}}/@{{.UserID}}/feed?format=json"/>
		<link rel="canonical" class="u-url" href="{{.ProfileURL}}">

		<!-- Open Graph: https://ogp.me -->
		<meta property="og:type" content="profile">
		<meta property="og:title" content="{{.DisplayName}}">
		<meta property="og:url" content="{{.Permalink}}">
		<meta property="og:image" content="{{.IconURL}}">
		<meta property="profile:username" content="{{.Username}}">

		{{- if not .IsPublic -}}
			<div class="clickable alert-red" hx-get="/@{{.UserID}}/publish" role="button">
				{{icon "alert-fill"}} 
				Your profile is NOT public and is invisible to others.
				<span class="text-underline">Click here to publish your profile</span>
			</div>
		{{- end -}}

		{{- template "header" . -}}

		<div class="padding-sm pos-relative">

			{{- if $isMyself -}}
				<form hx-post="/@me/sort-featured" hx-trigger="end">
					<div hx-push-url="true">
			{{- end -}}

			<!-- Band Name -->
			<div class="md:flex-row flex-align-center margin-top">
				<div class="md:flex-align-self-start margin-horizontal-auto align-center">
					<img id="profile-icon" src="{{.IconURL}}" class="circle width-40% md:width-96" aria-hidden="true">
				</div>
				<div class="flex-grow align-center md:align-left">
					<div class="pos-relative">
						<h1 id="profile-name" class="margin-none">{{.DisplayName}}</h1>
						{{- if $isMyself -}}
							<div class="pos-absolute-top-right-0 flex-column">
								<button hx-get="/@me/edit" class="text-xs">Edit Profile</button>
								<button hx-get="/@{{.UserID}}/links" class="text-xs">Edit Links</button>
								<button hx-post="/signout" class="text-xs">Sign Out</button>
							</div>
						{{- end -}}
					</div>
					<div class="margin-bottom">
						<span id="profile-username" class="bold text-gray" script="install selectText">@{{.Username}}@{{.Hostname}}</span>
						{{- if ne "" .Location }}
							<span id="profile-location" class="text-gray margin-left"> {{icon "location"}} {{.Location}}</span>
						{{- end -}}
					</div>

					<div id="profile-links" class="margin-top pos-relative max-width-512">
						{{- range  $index, $link := .Links }}
							{{if gt $index 0}}<span aira-hidden="true">&middot;</span>{{end}}
							<a href="{{$link.ProfileURL}}" rel="me" target="_blank">{{$link.Name}}</a>
						{{- end -}}
					</div>
		
					<div class="margin-vertical">
						{{- if not .IsMyself -}}
							<button class="primary text-md" hx-get="/@{{.UserID}}/intent?intent=follow&object={{.Permalink}}">Follow for Updates</button>
							<button class="text-md" hx-get="/@{{.UserID}}/intent">{{icon "more-horizontal"}}</button>
						{{- end -}}
					</div>

					<div id="profile-status" class="max-width-512 margin-vertical text-gray">{{.StatusMessage | markdown}}</div>

					<div id="profile-tags" class="margin-top max-width-512">
						{{- range .Tags -}}
							<a href="/artists?q=%23{{.Name}}" role="link" class="tag">#{{.Name}}</a>
						{{- end -}}
					</div>

				</div>
			</div>

			<div class="cols-2-4 margin-top-xl sortable">

				{{- range $featured -}}
					{{- if or .IsPublished $isMyself -}}
						<div class="card flex-column hover-trigger hover-swell" script="install blockselect()">
							
							{{- if eq "bandwagon-album" .TemplateID -}}
								<img src="{{.IconURL}}" class="square width-100% block object-fit-cover" aria-hidden="true">
								<div class="padding text-plain">
									<a hx-get="/{{.StreamID}}" href="/{{.StreamID}}" class="turboclick bold">{{.Label}}</a>
									<div class="text-gray">Album &middot; {{index .Data "year"}}</div>
								</div>
							{{- else if eq "bandwagon-event" .TemplateID -}}
								{{- if ne "" .IconURL -}}
									<img src="{{.IconURL}}" class="square width-100% block object-fit-cover" aria-hidden="true">
									<div class="padding text-plain">
										<a hx-get="/{{.StreamID}}" href="/{{.StreamID}}" class="turboclick bold">{{.Label}}</a>
										<div class="text-gray">{{.StartDate | shortDate }}</div>
									</div>
								{{- else -}}
									<h2 class="padding padding-bottom-none margin-none">{{.Data.city}}</h2>
									<div class="padding-horizontal">{{.StartDate | shortDate}}</div>
									<div class="padding-horizontal padding-top flex-grow margin-bottom bold">{{.Data.venue}}</div>
									<div class="padding">
										<a hx-get="/{{.StreamID}}" href="/{{.StreamID}}" target="_blank">More...</a>
									</div>
								{{- end -}}
							{{- else if eq "bandwagon-news" .TemplateID -}}
								{{- if ne "" .IconURL -}}
									<img src="{{.IconURL}}" class="square width-100% block object-fit-cover" aria-hidden="true">
									<div class="padding text-plain">
										<a hx-get="/{{.StreamID}}" href="/{{.StreamID}}" class="turboclick bold">{{.Label}}</a>
										<div class="text-gray">{{.PublishDate | shortDate }}</div>
									</div>
								{{- else -}}
									<h2 class="padding padding-bottom-none margin-none">{{.Label}}</h2>
									<div class="padding-horizontal flex-grow ellipsis-block" style="height:9em;">{{.Summary}}</div>
									<div class="padding">
										<a hx-get="/{{.StreamID}}" href="/{{.StreamID}}" class="turboclick">{{first .Data.linkText "Read More"}}</a>
									</div>
								{{- end -}}
							{{- end -}}

							{{- if not .IsPublished -}}
								<div class="pos-absolute-four-corners bg-stripes flex-center"></div>
							{{- end -}}

							{{- if $isMyself -}}
								<span class="hover-show button pos-absolute-top-left text-xs drag-handle">{{icon "drag-handle"}}</span>
								<a hx-get="/{{.StreamID}}/edit" class="hover-show button pos-absolute-top-right text-xs">Edit</a>
								<input type="hidden" name="keys" value="{{.StreamID}}">
							{{- end -}}
						</div>
					{{- end -}}
				{{- end -}}

				{{- if $isMyself -}}

					<div class="rounded card padding flex-column">
						<div class="flex-center align-center link" role="button" hx-get="/@{{.UserID}}/add-album?isFeatured=true">
							<div class="margin-vertical-xl">
								<div class="margin-none" style="font-size:64px;">{{icon "cassette"}}</div>
								<div class="text-xl margin-none bold">Add an Album</div>
							</div>
						</div>
						<div class="align-center">&mdash; or &mdash;</div>
						
						<div class="align-center">
							Add a
							<span class="text-sm margin-bottom link" role="button" hx-get="/@{{.UserID}}/add-event?isFeatured=true">
								Show
							</span>
							or
							<span class="text-sm margin-bottom link" role="button" hx-get="/@{{.UserID}}/add-news?isFeatured=true">
								News
							</span>
						</div>
					</div>

					{{- if $featured.IsEmpty -}}
						<div>
							<div class="bold text-xl margin-none margin-bottom">Welcome!</div>
							<div class="bold margin-vertical-xs">The Next Steps Are the Best Ones:</div>
							<div class="text-light-gray margin-bottom">&larr; Build your online discography by clicking the cassette tape on the left.</div>
							<div class="text-light-gray margin-bottom">Later, you can customize your profile colors and images using the buttons on the top-right side of the page &rarr;</div>
							<div class="text-light-gray">And when you're ready, publish your finished profile on the Social Web.</div>
						</div>
					{{- end -}}

				{{- end -}}

			</div>
		
		</div>

			{{- if $isMyself -}}
					</div>
				</form>

				<script src="/.themes/global/resources/sortable-1.15.0/Sortable.min.js"></script>

				<script>
					var sortables = document.querySelectorAll(".sortable");
					for (var node of sortables) {
						new Sortable(node, {
							handle: ".drag-handle",
							animation: 150,
							whisperClass: 'draggable-whisper'
						});
					}
				</script>

				<style>
					.drag-handle {
						cursor:grab;
					}

					.draggable-whisper {
						background-color: var(--gray50);
						color:var(--gray50);
						cursor: grabbing;
					}
				</style>

			{{- end -}}

		</div>

		{{- if $isMyself -}}
			<div hx-ext="sse" sse-connect="/@{{.UserID}}/sse">
				<div hx-get="/@{{.UserID}}" hx-trigger="sse:{{.UserID}}, refreshPage from:window" hx-push-url="false"></div>
			</div>
		{{- end -}}

	</div>

{{- else if not $isMyself -}}
	{{- template "coming-soon" . -}}
{{- else if eq .StateID "WIZARD-STEP-3" -}}
	{{- template "wizard-3" . -}}
{{- else if eq .StateID "WIZARD-STEP-2" -}}
	{{- template "wizard-2" . -}}
{{- else  -}}
	{{- template "wizard-1" . -}}
{{- end -}}