body {

{{ if ne "" (.Data "background-body" )}}
	background-image:url("{{.Data "background-body"}}");
	background-repeat: no-repeat;
	background-size: cover;
{{ end }}

{{ if ne "" (.Data "color-body") -}}
	{{- $bodyColor := parseColor (.Data "color-body") -}}
	--body-background: {{.Data "color-body"}};
	--page-border: {{($bodyColor.Darken 10)}};
{{- end }}

{{ if ne "" (.Data "image-body" )}}

{{ end }}

{{ if ne "" (.Data "color-menu" )}}
	{{$menu := parseColor (.Data "color-menu")}}
	{{$menuHover := $menu.Contrast 15}}
	{{$menuSelected := $menu.Contrast 30}}

	--menu-background: {{$menu}};
	--menu-text: {{$menu.TextExt}};
	--menu-hover-background: {{$menuHover}};
	--menu-hover-text: {{$menuHover.Text}};
	--menu-selected-background: {{$menuSelected}};
	--menu-selected-text: {{$menuSelected.Text}};
{{- end -}}

{{ if ne "" (.Data "color-page") -}}
	{{- $pageColor := parseColor (.Data "color-page") -}}
	{{- $textColor := $pageColor.Text -}}
	--page-background: {{.Data "color-page"}};
	--heading-color: {{$pageColor.Text}};
	--text-color: {{$pageColor.TextExt}};

	{{if $pageColor.IsLight }}
		--white: #ffffff;
		--gray00: #ffffff;
		--gray01: #fefefe;
		--gray02: #fdfdfd;
		--gray03: #fcfcfc;
		--gray04: #fbfbfb;
		--gray05: #fafafa;
		--gray10: #f4f4f4;
		--gray15: #eaeaea;
		--gray20: #e0e0e0;
		--gray30: #c6c6c6;
		--gray40: #a8a8a8;
		--gray50: #8d8d8d;
		--gray60: #6f6f6f;
		--gray70: #525252;
		--gray80: #393939;
		--gray90: #262626;
		--gray100: #000000;
		--black: #000000;
	{{- else }}
		--black: #ffffff;
		--gray100: #ffffff;
		--gray90: #f7f3f2;
		--gray80: #e5e0df;
		--gray70: #cac5c4;
		--gray60: #a8a8a8;
		--gray50: #8f8b8b;
		--gray40: #726e6e;
		--gray30: #565151;
		--gray20: #3c3838;
		--gray15: #312e2e;
		--gray10: #272525;
		--gray05: #1f1c1c;
		--gray04: #1e1e1b;
		--gray03: #1c1c19;
		--gray02: #1a1a17;
		--gray01: #181815;
		--gray00: #171714;
		--white: #000000;
	{{- end -}}
	
{{- end }}

{{ if ne "" (.Data "color-button") -}}
	{{- $buttonColor := parseColor (.Data "color-button") -}}
	{{- $buttonText := $buttonColor.Text }}
	{{- $buttonColorHover := ($buttonColor.Lighten 10) -}}
	{{- $buttonTextHover := $buttonColorHover.Text }}
	{{- $buttonColor := .Data "color-button" -}}

	--button-primary-background: {{$buttonColor}};
	--button-primary-background-hover: {{$buttonColorHover}};
	--button-primary-color: {{$buttonText}};
	--button-primary-color-hover: {{$buttonTextHover}};
	--link-color: {{$buttonColor}};
	--link-color-hover: {{$buttonColorHover}};
{{- end }}

}

{{- $bannerHex := first (.Data "color-banner") "#a0a0a0" -}}
{{- $bannerColor := parseColor $bannerHex -}}

#band-banner {
	background-color: {{$bannerColor}};
	height:256px;
	background-image:url('{{.ImageURL}}');
	background-size:cover;
	background-position:center;
}

#band-menu {
	background-color: var(--menu-background);
	font-size: 1.25em;
	text-align: center;
}

#band-menu > [role=menuitem] {
	display: inline-block;
	padding: var(--rhythm) calc(var(--rhythm) * 1.5) ;
	color: var(--menu-text);
}

#band-menu > [role=menuitem]:hover {
	background-color: var(--menu-hover-background);
	color: var(--menu-hover-text);
}

#band-menu > [role=menuitem][aria-selected=true],
#band-menu > [role=menuitem][aria-selected=true]:hover {
	background-color: var(--menu-selected-background);
	color: var(--menu-selected-text);
}
